body {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	padding: 5px;
	
	
	font-family: "Courier New";
	font-size: 15px;
	/*background-color: #afafdc; /* #afafaf */
	background-color: #DEB887;
}

table {
    margin-left: 10px;
	border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

#cities, #roads, #cloisters, #fields {
	float: right;	
}


#grid_section {
	float: left;
}

rect:hover {
	fill: olive;
	stroke: red;
}

rect {
	fill-opacity: .5;
	stroke-width: 3px;
}

.CityHighlightRect {
	fill: brown;
}
.RoadHighlightRect {
	fill: gray;
}
.CloisterHighlightRect {
	fill: olive;
	stroke: orange;
}
.FieldHighlightRect {
	fill: gray;
}


#nextTileWherever {
	float: right;
}

