body {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	padding: 5px;
	
	
	font-family: "Courier New";
	font-size: 15px;
	background-color: #DEB887;
}

.reachable {
	fill: brown;
	fill-opacity: .3;
	stroke-width: 3px;
}

.followerPlayer0 {
	/*fill: blue;*/
	fill: blue;
}

